<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sarkar Telecom | A premium smartphone shop at mawna chowrasta.</title>
</head>

<body>
  <% include ./partials/_nav %>

  <h1>This is a Boilerplate</h1>
  <%- body -%>

  <% include ./partials/_footer %>

</body>

</html>