<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sarkar Telecom | A premium Smart Phone shop at Mawna Chowrasta</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
  <% include ./partials/_nav %>

  <div class="container">
    <%- body -%>
  </div> <!-- /container -->

  <% include ./partials/_footer.ejs %>

</body>

</html>